Automización con Telegram.json
{
  "name": "Automización con Telegram",
  "nodes": [
    {
      "parameters": {
        "content": "## Preparación en Telegram: \n\nEl primer paso es crear y obtener las credenciales de tu bot de Telegram:\n\nBusca a BotFather en Telegram (es el bot oficial y verificado).\n\nEnvía el comando /newbot.\n\nSigue las instrucciones para elegir un nombre para el bot (ej: \"MiBotDePrueba\") y un nombre de usuario (debe ser único y terminar en bot, ej: \"MiBotDePrueba_bot\").\n\nBotFather te proporcionará un Token de Acceso (Access Token). Cópialo y guárdalo, ya que es la clave para conectar n8n.\n\nVe a Credenciales (Credentials) y haz clic en Añadir Credencial (Add Credential).\n\nBusca y selecciona Telegram API (a veces solo Telegram).\n\nPega el Token de Acceso que obtuviste de BotFather en el campo correspondiente.\n\nGuarda la credencial",
        "height": 768,
        "width": 336
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -304,
        -608
      ],
      "typeVersion": 1,
      "id": "d439305c-7b5d-4531-8ae0-8320d9bcc215",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Establecer la acción:\n \nEn la configuración del nodo de acción, selecciona la misma credencial de Telegram.\n\nElige la Operación que quieres realizar, por ejemplo, Send a text message.\n\nPara que el bot responda en el mismo chat donde recibió el mensaje, debes usar una expresión para obtener el Chat ID del mensaje de entrada del Trigger. Generalmente se arrastra el campo Message > Chat > ID al campo \"Chat ID\" del nodo de acción.\n\nEscribe el texto del mensaje que deseas enviar como respuesta.",
        "height": 560,
        "width": 336
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        -400
      ],
      "typeVersion": 1,
      "id": "dd460fb2-7485-45c8-9a38-7952850635f3",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-robotics-er-1.5-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-robotics-er-1.5-preview"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.message.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        96,
        0
      ],
      "id": "798b02a1-51a7-41fe-89e7-6a4b1c2088e5",
      "name": "IA Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "w25HHFD88NTnu61l",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram trigger').item.json.message.chat.id }}",
        "text": "={{ $json.content.parts[0].text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        496,
        0
      ],
      "id": "26e5393a-31ce-4a96-bdb9-1f12a5c042d6",
      "name": "Envío de mensaje",
      "webhookId": "8a42ff57-c6d0-41b0-9a7b-182dfe8bec1a",
      "credentials": {
        "telegramApi": {
          "id": "ZJiDP7Ohwh2ec1BW",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -192,
        0
      ],
      "id": "f22bec4b-19a2-4b70-9dfe-7c4452b3e888",
      "name": "Telegram trigger",
      "webhookId": "1e85c075-ac35-415d-85e9-e9aceab5a887",
      "credentials": {
        "telegramApi": {
          "id": "ZJiDP7Ohwh2ec1BW",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "IA Gemini": {
      "main": [
        [
          {
            "node": "Envío de mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram trigger": {
      "main": [
        [
          {
            "node": "IA Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "492b308b-9815-4dc7-b96d-0024c62b5370",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "89985a65df4b6892cfcddedacf017525ffd731aa5a07ed3497f23d4ea0ccb068"
  },
  "id": "Ix0vNPW3GD7TFUoR",
  "tags": []
}