Envio de mensaje a slack si es un mail recibido en la tarde.json
{
  "name": "Envio de mensaje a slack si es un mail recibido en la tarde",
  "nodes": [
    {
      "parameters": {
        "outputFieldName": "current_date_and_time",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        80,
        -112
      ],
      "id": "da25dc06-a273-45b7-b94b-b5a18bd7f84d",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "jsCode": "const dateFormatter = new Intl.DateTimeFormat(\"es-AR\", {\n  timeZone: \"America/Argentina/Buenos_Aires\",\n  day: \"2-digit\",\n  month: \"2-digit\",\n  year: \"numeric\",\n});\n\nconst timeFormatter = new Intl.DateTimeFormat(\"es-AR\", {\n  timeZone: \"America/Argentina/Buenos_Aires\",\n  hour: \"2-digit\",\n  minute: \"2-digit\",\n  hour12: false,\n});\n\n// formatter SOLO para obtener la hora numérica\nconst hourFormatter = new Intl.DateTimeFormat(\"en-US\", {\n  timeZone: \"America/Argentina/Buenos_Aires\",\n  hour: \"2-digit\",\n  hour12: false,\n});\n\nfor (const item of $input.all()) {\n  const raw = item.json.current_date_and_time;\n  const d = new Date(raw);\n\n  const hourAR = Number(hourFormatter.format(d));\n\n  item.json.formatted_date = dateFormatter.format(d);\n  item.json.formatted_time = timeFormatter.format(d);\n\n  // 👉 variable que querés\n  item.json.afternoon_message_on = hourAR >= 18;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        -112
      ],
      "id": "efb0e049-3864-40fb-8640-6169cf22b52d",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "81bdcbae-e4dd-4acf-9d2a-59ea3af41c40",
              "leftValue": "={{ $json.afternoon_message_on }}",
              "rightValue": "2026-02-12T14:37:51",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        528,
        -112
      ],
      "id": "85f95e40-9dcd-4e66-9582-c037a32b8e3e",
      "name": "If"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -128,
        -208
      ],
      "id": "d12fda2f-36df-496c-a3c3-5ccc22b29ad9",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "X5WVX6tEpxZP6yCa",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "=ezequielmtartaglia@gmail.com",
        "subject": "Horario de oficina cerrado",
        "message": "A la brevedad se comunicara nuestro centro de atencion 24 hs para atender tu consulta ya que nuestros operadores no estan disponibles.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        752,
        -112
      ],
      "id": "9a413750-8804-4a54-bd83-ad502aa6845a",
      "name": "Send a message",
      "webhookId": "73f610cd-d59d-4127-ae9c-6f1175591616",
      "credentials": {
        "gmailOAuth2": {
          "id": "X5WVX6tEpxZP6yCa",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#nuevo-canal",
          "mode": "name"
        },
        "text": "=Mensaje en bandeja nuevo: {{ $('Gmail Trigger').item.json.From }}\n\nTitulo: {{ $('Gmail Trigger').item.json.Subject }}\nMensaje: {{ $('Gmail Trigger').item.json.snippet }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        960,
        -112
      ],
      "id": "b392bdb1-0f73-48c3-af97-fdbdc53fe79f",
      "name": "Send a message2",
      "webhookId": "4112f8a8-1f86-48d7-b5b7-be19684c6602",
      "credentials": {
        "slackApi": {
          "id": "pGJsulY3LCELV9uT",
          "name": "Slack account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Date & Time": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "86792aaf-8bb5-45d8-b359-ebb43fc9088c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6ea2ff2bd80fd0e91c36a581ac6ef409e08379a175ab07875060d9f884fa9465"
  },
  "id": "oVMsKdYZbOAYVp3U_B0FG",
  "tags": []
}